<section id="banner">
  <img src="../../../assets/IMG/bannerRugby.jpg" class="img-fluid" style="width: 100%;" alt="...">
</section>

<section id="cards" style="padding-top:3%;">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/IMG/rugby.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/IMG/rugby2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/IMG/rugby3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cartas" style="padding-top: 3%; background-color: black;">
  <div class="container text-center">
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/IMG/iconorugby.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col" style="background-color:black;">
        <div style="padding-top: 5%; padding-bottom: 5%;">
          <div class="card-body" style="color:aliceblue">
           <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint velit sed porro voluptatum quibusdam impedit totam consectetur voluptate soluta excepturi iusto distinctio perspiciatis dicta est enim at, numquam modi repellat.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
      <div class="row">
        <div class="col">
          <div style="padding-top: 5%; padding-bottom: 5%;">
            <div class="card-body" style="color:aliceblue">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint velit sed porro voluptatum quibusdam impedit totam consectetur voluptate soluta excepturi iusto distinctio perspiciatis dicta est enim at, numquam modi repellat.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <img src="../../../assets/IMG/iconorugby.jpg" class="img-fluid" alt="...">
        </div>
      </div>  
  </div>
</section>
