<section style="background-color:aquamarine;">

    <div style="width: 80%; margin-left: 10%; margin-right: 10%;">
        <h3 style="text-align: center;">Area de fotos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam iusto, quam fugit nesciunt atque alias voluptate sit unde provident modi ullam impedit. Non inventore pariatur iusto voluptates temporibus est beatae.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis molestias possimus officiis inventore mollitia ut doloribus recusandae aut temporibus totam qui corrupti, amet, omnis ad? Labore voluptatem ex cum similique.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quasi tenetur eos incidunt, maxime consequatur modi ad eius illo maiores, nulla nesciunt doloribus obcaecati corrupti impedit reiciendis, non fugiat commodi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vel, tenetur perferendis eligendi provident earum harum dolore beatae atque perspiciatis esse debitis placeat, minima maiores ab quidem modi cum? Voluptatibus.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod asperiores, nihil explicabo et aperiam veritatis, quasi alias qui dolores enim dignissimos soluta, reprehenderit architecto iure ab expedita sequi laboriosam pariatur.</p>
        <a href="#" class="btn btn-primary" style="width: 15%;">Go somewhere</a>
    </div>

</section>

<section style="width: 90%; padding: 3%">

    <div class="row" style="padding-top: 5%;">
        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ea aspernatur placeat inventore eius ut nostrum, quae magnam fuga consectetur dolor voluptatem, aliquam sit sapiente qui modi minima libero commodi?</p>
                </div>
            </div>
        </div>

        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore est aperiam, corrupti veniam fugiat, sapiente earum, possimus excepturi dignissimos perferendis veritatis porro sit fugit provident deleniti doloribus non dolorum distinctio.</p>
                </div>
            </div>
        </div>

        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum necessitatibus vitae quaerat dolorum quae doloribus illum, temporibus autem numquam architecto ducimus velit obcaecati alias voluptates voluptate ipsa inventore qui ea?.</p>
                </div>
            </div>
        </div>

        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, consequuntur ipsum! Soluta consequuntur officiis voluptate explicabo impedit, eaque voluptatum hic et veritatis iusto aliquam! Quia temporibus culpa dolores fugiat quaerat.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 5%;">
        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ea aspernatur placeat inventore eius ut nostrum, quae magnam fuga consectetur dolor voluptatem, aliquam sit sapiente qui modi minima libero commodi?</p>
                </div>
            </div>
        </div>

        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore est aperiam, corrupti veniam fugiat, sapiente earum, possimus excepturi dignissimos perferendis veritatis porro sit fugit provident deleniti doloribus non dolorum distinctio.</p>
                </div>
            </div>
        </div>

        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum necessitatibus vitae quaerat dolorum quae doloribus illum, temporibus autem numquam architecto ducimus velit obcaecati alias voluptates voluptate ipsa inventore qui ea?.</p>
                </div>
            </div>
        </div>

        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, consequuntur ipsum! Soluta consequuntur officiis voluptate explicabo impedit, eaque voluptatum hic et veritatis iusto aliquam! Quia temporibus culpa dolores fugiat quaerat.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 5%;">
        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ea aspernatur placeat inventore eius ut nostrum, quae magnam fuga consectetur dolor voluptatem, aliquam sit sapiente qui modi minima libero commodi?</p>
                </div>
            </div>
        </div>

        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore est aperiam, corrupti veniam fugiat, sapiente earum, possimus excepturi dignissimos perferendis veritatis porro sit fugit provident deleniti doloribus non dolorum distinctio.</p>
                </div>
            </div>
        </div>

        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum necessitatibus vitae quaerat dolorum quae doloribus illum, temporibus autem numquam architecto ducimus velit obcaecati alias voluptates voluptate ipsa inventore qui ea?.</p>
                </div>
            </div>
        </div>

        <div clas="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/Escuela3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, consequuntur ipsum! Soluta consequuntur officiis voluptate explicabo impedit, eaque voluptatum hic et veritatis iusto aliquam! Quia temporibus culpa dolores fugiat quaerat.</p>
                </div>
            </div>
        </div>
    </div>

</section>